<!-- FIXME : fix the navbar -->
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="https://assets.stickpng.com/images/5aa78e207603fc558cffbf19.png" alt="" width="30" height="30"
                class="d-inline-block align-text-top">
            TODO
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/tasks">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/tasks/sorted">Priority-wise</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/tasks/new">New Task</a>
                </li>
            </ul>
        </div>
    </div>
</nav>